sudo: false

language: python

cache: pip

python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7-dev"
    - "pypy"
    - "pypy3"

install:
    - pip install pytest pytest-benchmark
    - pip install enum34 numpy arrow

before_script:
    - "export PYTHONPATH=$PYTHONPATH:`pwd`"
    - "uname -a"
    - "cd tests"

script: py.test --benchmark-disable --showlocals --verbose
