name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '2.7', '3.5', '3.6', '3.7', '3.8', 'pypy2', 'pypy3' ]
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v1
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies  
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-benchmark enum34 numpy arrow ruamel.yaml
      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:`pwd`
          py.test tests/ --benchmark-disable --showlocals --verbose
